header {
    margin: 0 auto;
    height: 40px;
    color: white;
    text-align: center;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTkcyO4ZWTCASoUxy7l3fQcUU38LUSrYryFb0MmVWe9Fd1QITHM);

}